/* 
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
 */

header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: #00376B;
    color: #EBEBEB
}

body {
    max-width: 800px;
    margin: auto;
    display: block;
}

h3 {
    background-color: #99B9DB;
    color: black;
}

 #header-color {
    background-color: #00376B;
    color: #EBEBEB;
}
#section-header-color {
    background-color: #99B9DB;
    color: black;
}

#section-header-text-color {
    background-color: black;
    color: white;
}

#header-text-color {
    background-color: #EBEBEB;
    color: black;
}

#accent-color {
    background-color: #FF6700;
    color: black;
}

#heading-font {
    font-family: 'Oswald', sans-serif;
}

#subheading-font {
    font-family: 'Roboto Condensed', sans-serif;
}

#bodyText-font {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
}

li {
    font-family: 'Nunito', sans-serif;
}

li > strong {
    font-family: 'Roboto Condensed', sans-serif;
}
#colors {
    display: grid;
    grid-template-columns: 1fr;
    width: 40rem;
    margin: auto;
    text-align: center;
}
img {
    width: 90%;
    max-width: 750px;
    margin: auto;
}

hr {
    border: 1px solid #FF6700;
}
