#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

  #hover, #dblClick {
    background-color: #fff;
    border-style: solid;
    border-color: black;
    width: 400px;
    text-align: center;
    margin: 5px;
  }

  #inputSec {
    padding: 5px;
    border-style: solid;
    width: 400px;
    margin: 5px;
  }