@media (min-width: 770px) {
    .mobile-nav-toggle {
        display: none;
    }

    .primary-navigation {
        position: static;
        transform: none;
        background-color: transparent;
        color: black;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        transition: none;
        background-color: #00376B;
    }

    .primary-navigation[data-visible="true"] {
        transform: none;
    }

    .primary-navigation a {
        padding-top: 0.5rem;
        padding-right: 1rem;
        text-decoration: none;
        color: #EBEBEB;
        width: 100%;
    }
    .primary-navigation a:hover {
        text-decoration: underline;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
    .left {
        grid-column: 1;
        width: 90%;
        border-style: solid;
        margin: 5px auto 5px auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .right {
        grid-column: 2;
        grid-row: 1/5;
        width: 90%;
        margin: auto;
        text-align: center;
        justify-content: center;
        border: solid;
        padding: 5px;
    }

    .right img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .right img:hover {
        transform: scale(1.05);
        z-index: 1;
        box-shadow: 0 0 30px black;
    }
    #membershipLevels {
        display: block;
        grid-column: 2;
        align-self: flex-start;
    }
    .level {
        border: 1px solid #00376B;
        margin: .5rem auto .5rem auto;
    }
    .level h1 {
        background-color: #00376B;
        color: #EBEBEB;
        margin: 0;
        padding: 5px;
    }
    .level p {
        margin: .2rem;
    }
}
