/* fix the colors */
/* add fonts */
/* work on JS dates */

* {
    max-width: 600px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
    color: white;
    padding: 10px;
}

nav {
    margin: 10px auto;
    background-color: red;
}

nav a {
    display: block;
    width: 100px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

main h2 {
    text-align: center;
}

.card {
    grid-template-columns: 1fr;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    border-radius: 10px;
    margin: 15px;
}

.card h3 {
    background-color: blue;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: auto;
}

.card p {
    text-align: center;
    margin: auto;
    padding: 10px;
}

ul {
    list-style-type: none;
    text-align: left;
    margin: auto;
    padding: 10px;
}

footer {
    background-color: aquamarine;
}