/* fix the colors */
/* add fonts */
/* work on JS dates */

/* font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Tektur', sans-serif; */

/* Raisin Black: #1A1423 */
/* Dark Purple: #372549 */
/* Pale Dogwood: #EACDC2 */

* {
    max-width: 1000px;
    margin: auto;
    font-family: 'Tektur', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #372549;
    color: white;
    padding: 10px;
}

header img {
    grid-column: 1/3;
    max-width: 100%;
    min-width: 100px;
}

header h1 {
    grid-column: 3;
    width: 150%;
    margin-left: -60px;
}
.hero {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: 1/3;
}

.hero img {
    width: 100%;
    height: auto;
  }

.herolabel {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    background: radial-gradient(#9568c3, #372549);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.85;
    color: white;
}

/* Navigation Bar */
.mobile-nav-toggle {
    display: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.navigation-menu {
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}

@supports (backdrop-filter: blur(.5rem)){
    .primary-navigation {
        background-color: hsl(0 0% 100% / .55);
        backdrop-filter: blur(.5rem);
        color: black;
    }
}

.primary-navigation a {
    padding-top: 1rem;
    text-decoration: none;
    color: black;

}

.primary-navigation a:hover {
    text-decoration: underline;
}


main h2 {
    text-align: center;
    padding-top: 1rem;
}

.card {
    grid-template-columns: 1fr;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
}

.card h3 {
    background-color: #372549;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: auto;
}

h3::before {
    content: "- ";
    color: white;
}

h3::after {
    content: " -";
    color: white;
}

.card p {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#lesson-links {
    list-style-type: none;
    text-align: left;
    margin: auto;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

iframe {
    height: 450px;
    width: 80%;
}

.card figure {
    display: inline-block;
    text-align: center;
}

span {
    font-family: 'Bebas Neue', sans-serif;
}

figcaption {
    font-family: 'Bebas Neue', sans-serif;
}

footer {
    text-align: center;
    background-color: #372549;
    color: white;
    padding: 10px;
}
