@media (min-width: 770px) {
    * {
        max-width: 1000px;
    }
    nav {
        flex-direction: row;
    }

    nav a {
        width: 100%;
    }

    body {
        font-size: 20px;
    }

    main {
        display: grid;
        grid-template-columns: 3fr 1r;
    }

}